* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #0e1116;
    color: #cfd8dc;
}

header {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #1b1f27;
    gap: 10px;
}

main section {
    display: grid;
    width: 500px;
    height: fit-content;
    justify-self: center;
    background-color: #0b0e12;
    border-radius: 12px;
    font-size: 19px;
    padding: 25px;
    justify-content: center;
}

main h3 {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

#user {
    border-radius: 5px;
    border-color: solid #000000;
    width: 300px;
    height: 30px;
    margin: 10px;
}

#idade {
    border-radius: 5px;
    border-color: solid #000000;
    width: 300px;
    height: 30px;
    margin: 10px;
}

#email {
    border-radius: 5px;
    border-color: solid #000000;
    width: 300px;
    height: 30px;
    margin: 10px;
}

#cpf {
    border-radius: 5px;
    border-color: solid #000000;
    width: 300px;
    height: 30px;
    margin: 10px;
}

main button {
    background: #19c37d;
    border: none;
    padding: 14px 35px;
    border-radius: 255px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    justify-self: center;
    margin: 10px;
}

main button:hover {
    filter: brightness(1.1);
}

footer {
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    background: #0b0e12;
    border-top: 1px solid #1b1f27;
    color: #9aa4af;
    font-size: 14px;
}