:root {
    --color-dark-green: #1b1f27;
    --color-lime-green: #1b1f27;
    --color-background: #0e1116; 
    --color-text-light: #f0f0f0;
    --color-text-secondary: #aaaaaa;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.login-container {
    background-color: #1b1f27; 
    border: 3px solid var(--color-lime-green); 
    border-radius: 15px;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.login-header .logo {
    width: 80px; 
    height: auto;
    margin-bottom: 20px;
}

.login-header h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
    color: var(--color-text-light);
}

.login-header p {
    font-size: 1em;
    color: var(--color-text-secondary);
    margin-bottom: 30px;
}


.input-group {
    margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: var(--color-text-light);
    font-size: 1em;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

.login-form input::placeholder {
    color: var(--color-text-secondary);
}

.login-form input:focus {
    border-color: var(--color-lime-green);
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
}


.login-button {
    background: #19c37d;
    border: none;
    padding: 14px 35px;
    border-radius: 255px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    justify-self: center;
    margin: 10px;
}

.login-button:hover {
    filter: brightness(1.1);
}

.login-button:active {
    transform: translateY(1px);
}


.footer-links {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.forgot-password {
    color: var(--color-text-secondary);
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: var(--color-text-light);
}

.signup-prompt {
    margin-top: 20px;
    font-size: 0.9em;
}

.signup-prompt a {
    color: var(--color-text-secondary);
    margin: 0;
}

.signup-link {
    color: var(--color-lime-green);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block;
    margin-top: 5px;
}

.signup-link:hover {
    color: var(--color-text-light);
}