* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #0e1116;
    color: #cfd8dc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background: rgba(15, 17, 22, 0.9);
    border-bottom: 1px solid #1b1f27;
    backdrop-filter: blur(6px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 38px;
    height: auto;
}

.logo span {
    font-size: 22px;
    font-weight: 600;
}

nav a {
    color: #bfc8d0;
    margin: 0 18px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #19c37d;
}

.login {
    background: none;
    border: 1px solid #19c37d;
    padding: 8px 22px;
    border-radius: 25px;
    color: #19c37d;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.login:hover {
    background: #19c37d;
    color: #000;
}


.hero {
    text-align: center;
    padding: 100px 20px 60px;
}

.hero-logo {
    width: 90px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 52px;
    font-weight: 700;
    color: white;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.9;
}

.hero-buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary {
    background: #19c37d;
    border: none;
    padding: 14px 35px;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-primary:hover {
    filter: brightness(1.1);
}

.btn-secondary {
    background: none;
    border: 1px solid #fff;
    padding: 14px 35px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-secondary:hover {
    background: #fff;
    color: #000;
}

/* ================= CARDS ================== */

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    margin-top: 40px;
}

.card {
    width: 300px;
    background: #14181f;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #21262f;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #19c37d;
}

.card h3 {
    color: #19c37d;
    margin-bottom: 10px;
    font-size: 18px;
}

.valor {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}


footer {
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    background: #0b0e12;
    border-top: 1px solid #1b1f27;
    color: #9aa4af;
    font-size: 14px;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url('image.png'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
